.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; removed for entries in header testing */
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .row {
    align-items: flex-start;
    flex-direction: row;
  }

  .user-entry img {
    margin: 0.5rem;
  }
}

/* make sure to use this provided style - only adjust for layout, not stylistic choices. */
