body {
  background-color: rgb(238, 238, 238);
}

.header-row {
  background-color: rgb(76, 36, 116);
}

.header-row h1 {
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0.5rem;
}

label {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

textarea {
  min-height: 14vh;
}

input,
textarea,
button {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-footer {
  text-align: right;
}

.button-base {
  background-color: rgb(76, 36, 116);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 11px;
}

input[name='title'],
input[name='photo-url'] {
  height: 30px;
  padding: 0.5rem;
}

.user-entry img {
  border-radius: 6px;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entries-header h1 {
  font-size: 36px;
}

.new-entry-button {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
}

ul {
  padding: 0;
}

.entries-link {
  font-size: 18px;
  align-self: center;
  color: white;
  padding-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}
